{% from "macro.html" import render_field %}

{% extends "base.html" %}

{% block content%}

  <div class="row">
    <div class="col-lg-12 well">

      <div class="page-header">
        <h3>Please rate this beer</h3>
      </div>

      <div class="col-lg-10">
        <form method="POST" action="." class="form form-horizontal">
          {{ form.csrf_token }}

          {{ render_field(form.rating) }}

          <div class="control-group">
            <label class="control-label"></label>
              <div class="controls">
                <button type="submit" id="submit" class="btn btn-primary">Submit</button>
              </div>
          </div>

        </form>
      </div>

    </div>
  </div>

{% endblock %}
