{% from "macro.html" import render_field %}

{% extends "admin/layout.html" %}

{% block content%}

<div class="row">
  <div class="col-lg-12 well">
    <div class="pull-right">
      <ul style="list-style: none;">
        <li><a href="{{ url_for('add_style') }}">Add a style</a></li>
        <li><a href="{{ url_for('add_beer') }}">Add a beer</a></li>
      </ul>
    </div>
    <div class="page-header">
      <h3>{{ title }}</h3>
    </div>
    <div>
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul class=flashes>
          {% for message in messages %}
              <li>{{ message }} </li>
          {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}
    </div>
    <div class="col-lg-10">
      <form method="POST" action="." class="form form-horizontal">
        {{ form.csrf_token }}
        {{ render_field(form.name) }}
        <div class="control-group">
          <label class="control-label"></label>
            <div class="controls">
              <button type="submit" id="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}
