{% extends "layout.html" %}
{% from "_helpers.html" import render_field %}

{% block content%}

<div class="container">
  <div class="jumbotron">
    <form method="POST">
      <div class="form-group">
        {{ form.csrf_token }}
        {% if form.brand.choices|count() > 0 %}
          {{ render_field(form.brand, class='form-control') }}
        {% else %}
          {{ form.brand.label }}
          <p class="text-muted">You must add at least one <a href="{{ url_for('admin.add_brand') }}">Brand</a> first</p>
        {% endif %}
        {{ render_field(form.name, class='form-control', placeholder="Model, such as Light") }}
        {{ render_field(form.notes, class='form-control', placeholder="Optional") }}
        <br/>
        {{ form.submit.label(class="sr-only")}}
        {{ form.submit(class='btn btn-primary') }}
      </div>
    </form>
  </div>
  <p class="text-muted">Or, add a <a href="{{ url_for('admin.add_brand') }}">brand<a/>.</p>
</div>

{% endblock %}
