{% extends "layout.html" %}
{% from "_helpers.html" import render_field %}

{% block content%}

<div class="container">
  <div class="jumbotron">
    <form method="POST">
      <div class="form-group">
        {{ form.csrf_token }}
        {{ render_field(form.name, class='form-control', placeholder="Name, such as Bud") }}
        <br/>
        {{ form.submit.label(class="sr-only")}}
        {{ form.submit(class='btn btn-primary') }}
      </div>
    </form>
  </div>
  <p class="text-muted">Add a <a href="{{ url_for('admin.add_model') }}">Model<a/>.</p>
</div>

{% endblock %}
