{% extends "layout.html" %}
{% from "_helpers.html" import render_field %}

{% block content%}

<div class="container">
  <div class="jumbotron">
    <form method="POST">
      <div class="form-group">
        {{ form.csrf_token }}
        {% if form.make.choices|count() > 0 %}
          {{ render_field(form.make, class='form-control') }}
        {% else %}
          {{ form.make.label }}
          <p class="text-muted">You must add at least one <a href="{{ url_for('admin.add_make') }}">Make</a> first</p>
        {% endif %}
        {{ render_field(form.name, class='form-control', placeholder="Name, such as Light") }}
        {{ render_field(form.vintage, class='form-control', type='date') }}
        {{ render_field(form.notes, class='form-control', placeholder="Optional") }}
        <br/>
        {{ form.submit.label(class="sr-only")}}
        {{ form.submit(class='btn btn-primary') }}
      </div>
    </form>
  </div>
  <p class="text-muted">Add a <a href="{{ url_for('admin.add_make') }}">Make<a/>.</p>
</div>

{% endblock %}
