{% extends "layout.html" %}


{% block content %}

<div class="container">
  <div class="row">
    <div class="col">
    <h3>Instructions</h3>
      <ul>
        <li>Step 1: Create a new "make" from the Configuration heading.  For instance, this could be Budweiser or Trillium.</li>
        <li>Step 2: Create a new "model" from the Configuration heading.  For instance, this could be Julius or Melcher Street.</li>
        <ul>
          <li>This list of models is what forms the collection of surveys that is available to non-admin users.</li>
        </ul>
        <li>Step 3: Run a survey.  Use the <a href="{{ url_for('admin.log') }}">Log</a> to see the survey completion percentage.</li>
        <ul>
          <li>You do not need to do anything in the app to "run a survey".  Simply have your users log in and submit their rating.</li>
        </ul>
        <li>Step 4: Review the results with the <a href="{{ url_for('admin.results') }}">Results</a> view.</li>
        <ul>
          <li>Click on an ID number for additional detail.</li>
        </ul>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h5>Cleaning the Database</h5>
      <p>
        To clean the database before running a series of surveys selecect Advanced > Clean the database.
        This will delete all non-admin users and survey entries from the database.
        It will not delete makes and models.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h5>Clearing the Database</h5>
      <p>
        If you wish to start fresh you can clear the database entirely.
        This will delete everything except for the 'admin' user.
      </p>
    </div>
  </div>
</div>

{% endblock %}
