{% extends "admin/layout.html" %}

{% block content %}

<div class="pull-right">
  <div class="dropdown">
    <button class="btn btn-default btn-s dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Configuration
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
      <li><a href="{{ url_for('add_style') }}">Add a style</a></li>
      <li><a href="{{ url_for('add_brewery') }}">Add a brewery</a></li>
      <li><a href="{{ url_for('add_beer') }}">Add a beer</a></li>
    </ul>
  </div>
</div>

<div class="page-header">
   <h3>Surveys</h2>
</div>

<div class="row">
  {% for beer in all_beers %}
    <div class="col-md-3">
      <p><a class="btn btn-primary btn-lg btn-block" href="{{ url_for('admin_survey', beer_id=beer.id) }}" role="button">Beer #{{ beer.id }}</a></p>
    </div>
  {% endfor %}
</div>

<div class="page-header">
  <h3>Results</h3>
</div>

<div class="row">
  <div class="col-md-4">
    <p><a class="btn btn-primary btn-lg btn-block" href="{{ url_for('results_review') }}" role="button">Results Review</a></p>
  </div>
</div>

<!-- <div class="page-header">
  <h3>Statistics</h3>
</div>

<div class="row">
  <div class="col-md-3">
    <p><a class="btn btn-primary btn-lg btn-block" href="{{ url_for('ranking_overall') }}" role="button">Overall Ranking</a></p>
  </div>
  <div class="col-md-3">
    <p><a class="btn btn-primary btn-lg btn-block" href="{{ url_for('ranking_style') }}" role="button">Ranking by Style</a></p>
  </div>
  <div class="col-md-3">
    <p><a class="btn btn-primary btn-lg btn-block" href="{{ url_for('ranking_ba') }}" role="button">Ranking vs. BA Rating</a></p>
  </div>
</div> -->

{% endblock %}
