{% extends "admin/layout.html" %}

{% block content %}

<div class="page-header">
   <h2>{{ title }}</h2>
</div>
<div>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class=flashes>
      {% for message in messages %}
          <li>{{ message }} </li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
</div>
<div class="row">
  <div class="col-md-4">
    <p><a class="btn btn-default btn-lg btn-block" href="{{ url_for('clean_database') }}" role="button">Clear Users & Surveys</a></p>
  </div>
</div>

{% endblock %}
