{% extends "layout.html" %}


{% block extra_css %}

<link href="{{ url_for('static', filename='css/login.css') }}" rel="stylesheet">

{% endblock %}


{% block content%}

<div class="container">
  <form class="form-signin" method="POST">
    {{ form.csrf_token }}
    <h2 class="form-signin-heading">Please sign in</h2>
    {{ form.name.label(id="inputName", class="sr-only") }}
    {{ form.name(id="inputName", class="form-control", type="name", placeholder="Name or nickname") }}
    {{ form.submit.label(class="sr-only") }}
    {{ form.submit(class="btn btn-primary btn-block btn-lg", type="submit") }}
  </form>
  <p id="nameHelp" class="lead text-muted text-center">No password is required. Each user must sign in with a unique alias.</p>
</div>

{% endblock %}
