{% extends "layout.html" %}


{% block extra_css %}

<link href="{{ url_for('static', filename='css/survey.css') }}" rel="stylesheet">

{% endblock %}


{% block content%}

<div class="container">
  <form class="form-survey" method="POST">
    {{ form.csrf_token }}
    <h2 class="form-survey-heading">Rate this drank</h2>
    {{ form.rating.label(id="inputRating", class="sr-only") }}
    {{ form.rating(id="inputRating", class="form-control", type="rating") }}
    {{ form.submit.label(class="sr-only") }}
    {{ form.submit(class="btn btn-primary", type="submit") }}
  </form>
</div>

{% endblock %}
